@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div id="container">
    
    <div id="leftcolumn">
        <div id="history">
            <h3>>history</h3>
        </div>

        <div id="account">
            <h3>>account</h3>
        </div>

        <div id="bottompanel">
            <h3>>another panel</h3>
        </div>

    </div>

    <div id="rightcolumn">
        <div id="performance">
            <h3>>performance</h3>
        </div>
    </div>

    

</div>
